html{

    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    
}
*, *::after, *::before {
    box-sizing: inherit;

   
}

.container{
    padding: 0 ;
    margin: 10px ;
    background-color: rgb(255, 0, 170);
    width: 1600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.wrapper{
margin: 0;
padding: 0;

max-width: 100%;
box-sizing: border-box;
    background-color: #e2dede;
    z-index: 100;
    display: flex;
    flex-grow: 1;
    max-height: 100%;
    
}
.header{
width: 20%;
min-width: 150px;
background-color: #fff;
  }
.header-header{
    padding: 5px;
    margin: 5px auto;
}
h1{
    margin: 20px 10px;
    padding: 10px 10px;
    font-size: 46px;
    font-weight: 800;
    font-family: 'Oleo Script', cursive;  
    

}
.header-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.header-menu-icon{
    padding: 5px 10px;
    margin: 10px 10px;
}


.navbar{
    padding: 0px;
    margin: 0;
   max-width: 100%;
    background-color: #d5e5e9; 
    
}

.navbar-header{
   
padding: 5px 10px 0;
    margin: 0 15px;
}

.navbar-header-ul{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 0;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 17px;
}
li.navbar-header-li{
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.5px;
word-spacing: 1px;
    color: #817f7f;
}
form.navbar-form{
    position: relative;
    top: -7px;
    left: 0px;
    width: 50%;
}
.navbar-input{
    width: 85%;
    border: none;
    border-radius: 5px;
    height: 30px;
    background-color: #fff;
}

.navbar-button{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    margin: 0 10px;
}
.navbar-user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-info{
margin: 0 auto;
padding: 10px auto;
text-align: center;
width: 100%;
height: 600px;
}
.wrapper-conteiner{
    max-width: 100%;
    background-color: blueviolet;
    flex-grow: 9;
}
.menu{
margin: 0;
padding: 0;

}
.memu-link{
    display: flex;
    justify-content: flex-start;
list-style: none;


}
.menu-link-user{
    color: inherit;
    text-decoration: none;
    padding: 0 5px;
}
.menu-link-a{
    padding: 0 5px;
    text-decoration: none;    
}

.main-profile{
    margin: 60px auto;
    width: 80%;
    height: 70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
padding: 5px;
}

.main-profile-conteiner{
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.profile{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #06a6f0;
    
}

.profile-li{
    display: flex;
    align-items: center;
    justify-content: space-between;

 text-align: center;
 font-size: 14px;
    padding: 0 10px;
    margin:  20px 0;
}
.profile-info-li{
    border-bottom: 5px solid #6d6d6d;
    list-style: none;
    width: 25%;
}

li.active{
    list-style: none;
    border-bottom: 5px solid green;
  font-weight: bold;
  width: 25%;
    
}
.profile-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.profile-img-user{
    width: 60px;
    height: 60px;
    border-radius: 50%;
 border: 2px solid #06a6f0;
}
.profile-buttom{
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: #06a6f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0;
    margin: 5px auto;
}
.profile-form{
    display: flex;
flex-direction: column;
justify-content: center;
margin: 5px auto;
    
 width: 60%;
}
.form-name{
    color: red;
}
 input#first-name, input#last-name, #username{
    border: 1px solid #6d6d6d;
    margin: 0 auto;
    border-radius: 5px;
    text-align: start;
   width: 100%;

}
input.first-name, input.last-name, input.username{
    text-align: start;
    max-width: 100%;
}
.profile-save{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06a6f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 55px;
    margin: 5px auto;
}
